<!doctype html>
<!--[if lt IE 7]> <html class"lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if gte IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    

    <link href='http://fonts.googleapis.com/css?family=Trykker|Oxygen&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/js/lib/syntaxhighlighter_3.0.83/styles/shCore.css" rel="stylesheet" type="text/css" media="screen">
</head>
<body>
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <header class="masthead">
        <div class="container">
            <a href="{{ HOME_PATH }}" class="logo"><img src="{{ ASSET_PATH }}/images/cs_logo.png" alt="{{ site.title }}"></a>
            <nav>
                <ul class="nav">
                    {% assign pages_list = site.pages %}
                    {% assign group = 'navigation' %}
                    {% include JB/pages_list %}
                </ul>
            </nav>
        </div>
    </header>
    <div id="content-container" class="container" role="main">
        {{ content }}
    </div>
    <footer class="site-footer container">
        <p>&copy; {{ site.time | date : '%Y' }} {{ site.author.name }} </p>
    </footer>

    <!-- JavaScript at the bottom for fast page loading -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {% include JB/analytics %}

    <!-- Include SyntaxHighlighter to pretty up code snippets -->
    <script src="{{ ASSET_PATH }}/js/lib/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
    <script src="{{ ASSET_PATH }}/js/lib/syntaxhighlighter_3.0.83/scripts/shAutoloader.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.autoloader(
            'js jscript javascript {{ ASSET_PATH }}/js/lib/syntaxhighlighter_3.0.83/shBrushJScript.js',
            'css {{ ASSET_PATH }}/js/lib/syntaxhighlighter_3.0.83/shBrushCss.js',
            'c# csharp c-sharp {{ ASSET_PATH }}/js/lib/syntaxhighlighter_3.0.83/shBrushCSharp.js',
            'java {{ ASSET_PATH }}/js/lib/syntaxhighlighter_3.0.83/shBrushJava.js',
            'sql mssql {{ ASSET_PATH }}/js/lib/syntaxhighlighter_3.0.83/shBrushSql.js',
            'xml html xhtml html5 {{ ASSET_PATH }}/js/lib/syntaxhighlighter_3.0.83/shBrushXml.js'
        );
    </script>
</body>
</html>